openapi: 3.0.3
info:
  title: Compliance Context Service API
  version: 1.0.0
  description: Compliance screening APIs.
servers:
  - url: https://api.sandbox.openfinance.ae
paths:
  /api/v1/compliance/screen:
    post:
      summary: Run compliance screening
      operationId: screenCompliance
      description: |-
        Screens once per transactionId and stores the decision with the facts it
        was made on (amount, currency, sanctions/KYC/PEP flags, rule set
        version) as insert-only evidence. A replay (same customer and the same
        facts) returns the stored result; the same transactionId for another
        customer or with any different fact is a 409 TRANSACTION_ALREADY_SCREENED.
        A concurrent first screening of the same transaction may get a 409
        DUPLICATE_REQUEST; retrying returns the stored result.

        The flags and amount are attested by the caller: the service does not
        look them up yet (see `attestation` on the response).
      security:
        - bearerAuth: []
          dpopAuth: []
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/DPoP'
        - $ref: '#/components/parameters/InteractionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceScreeningRequest'
      responses:
        '201':
          description: Compliance result created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceScreeningResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: >-
            TRANSACTION_ALREADY_SCREENED (transactionId already screened for
            another customer or with different facts) or DUPLICATE_REQUEST (a
            concurrent screening of the same transaction won; retry).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: INTERNAL_ERROR; the screening could not be stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/compliance/screenings/{transactionId}:
    get:
      summary: Find compliance result by transaction id
      operationId: findComplianceResult
      security:
        - bearerAuth: []
          dpopAuth: []
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/DPoP'
        - $ref: '#/components/parameters/InteractionId'
        - $ref: '#/components/parameters/TransactionId'
      responses:
        '200':
          description: Compliance result found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceScreeningResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No screening result for this transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    dpopAuth:
      type: http
      scheme: bearer
      bearerFormat: DPoP
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
    DPoP:
      name: DPoP
      in: header
      required: false
      description: >-
        DPoP proof. Not required and not verified by this service: per the
        platform contract addendum (2026-10-08) DPoP binding applies only to
        open-finance TPP clients, and this API is called by internal services
        (client-credentials Bearer tokens, bound by mesh mTLS) and compliance
        staff (Bearer tokens). Tokens must carry aud svc-cmp-evidence; SERVICE
        callers must also be on the azp allow-list.
      schema:
        type: string
    InteractionId:
      name: X-FAPI-Interaction-ID
      in: header
      required: true
      schema:
        type: string
    TransactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
  schemas:
    ComplianceScreeningRequest:
      type: object
      required: [transactionId, customerId, amount]
      properties:
        transactionId:
          type: string
          description: Caller's id of the screened transaction, at most 128 characters.
        customerId:
          type: string
          description: Customer id, at most 128 characters.
        amount:
          type: number
          format: double
          description: >-
            Positive amount with at most 15 integer digits and 4 decimal places
            (stored as NUMERIC(19,4)); otherwise 400 INVALID_REQUEST.
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          default: USD
          description: ISO 4217 code of the amount, upper case. Optional; USD (the monolith's fallback) when absent.
        sanctionsHit:
          type: boolean
        kycVerified:
          type: boolean
        pep:
          type: boolean
    ComplianceScreeningResponse:
      type: object
      required: [screeningId, transactionId, customerId, decision, reasons, checkedAt]
      properties:
        screeningId:
          type: string
        transactionId:
          type: string
        customerId:
          type: string
        decision:
          type: string
          enum: [PASS, REVIEW, FAIL]
        reasons:
          type: array
          description: >-
            Rule reason codes, for example SANCTIONS_HIT, KYC_NOT_VERIFIED,
            PEP_HIGH_VALUE_REVIEW, UNSUPPORTED_CURRENCY (a PEP screening in a
            currency with no high-value threshold; USD is the only configured
            currency today) and COMPLIANT. Consumers must accept codes they do
            not know.
          items:
            type: string
        checkedAt:
          type: string
          format: date-time
        attestation:
          type: string
          description: >-
            Where the screening facts came from. CALLER_ATTESTED: the sanctions,
            PEP and KYC flags and the amount were stated by the calling service
            and not verified by compliance. Further values may be added;
            consumers must accept values they do not know.
          example: CALLER_ATTESTED
    ErrorResponse:
      type: object
      required: [code, message, interactionId, timestamp]
      properties:
        code:
          type: string
        message:
          type: string
        interactionId:
          type: string
        timestamp:
          type: string
          format: date-time
